*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    color: aliceblue;
    background-color: #1c1919;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.quests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    margin-left: 70px;
}

h2 {
    text-transform: uppercase;
        font-size: 2rem;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: relative;
    height: 10%;
    padding: 0;
}

.header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
}

.questao {
    background-color: rgb(66, 60, 60);
    padding: 1rem;
    width: 18%;
    height: 325px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.questao:first-child{
    margin-left: 80px;
}

.questao:hover{
    background-color: rgba(66, 60, 60, 0.699);
}

.mabel {
    display: block;
    margin: 10px;

}

.voltar {
    background-color: #b3b3b3;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    height: 5vh;
    width: 10%;
    transition: .4s;
    margin-left: 50px;
    text-align: center;

    margin-top: 20px;
}
.voltar:hover {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
}

.not-selected-div{
    background-color: rgb(124, 25, 25);
}
.not-selected-div:hover{
    background-color: rgba(124, 25, 25, 0.74);
}


.alertContainer {
    width: 95%;
    padding: 80px;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .alertContainer p {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .certo {
    background-color: #aaa;
  }
  .erro {
    background-color: #c72525;
  }

  .erro:hover {
    background-color: #c72525;
  }

  .spanAlerts {
    /* background-color: black; */
    width: 40%;
    position: absolute;
    z-index: 5;
    top: 50%; /* Move para o meio verticalmente */
    left: 50%; /* Move para o meio horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro do elemento */
}

.hulk {
    background-color: green;
}

.hulk:hover {
    background-color: green;
}


#enviarQuiz{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 15px;
}