@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

#titulo {
    position: absolute; /* Ou 'fixed' se preferir que fique s%pre visível */
    top: 20px; /* Distância do topo */
    left: 125px; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Compensa a largura do título para centralizar */
    color: white; /* Ou qualquer cor que preferir */
    font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
    z-index: 10; /* Certifique-se de que o título fique acima de outros el%entos */
}

#titulo h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#titulo button, a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#titulo a{
    font-size: 0.7%;
}

#titulo button{
    font-size: 0.75%;
}


.container {
    font-size: 6px;
    width: 40%;
    height: 40%;
    position: relative;
}

img {
    height: 130%;
    width: 130%;
}

.sol {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0 0 3% rgb(255, 128, 0);
}

.mercurio,
.venus,
.terra,
.lua,
.marte,
.jupiter,
.saturno,
.urano,
.netuno,
.prutaokk {
    position: absolute;
    cursor: pointer;
    pointer-events: auto; /* Habilita eventos de clique */
    top: 50%;
    left: 50%;
    transform-origin: -50% -50%; /* Centraliza a órbita */
}

.mercurio {
    width: 2%;
    height: 2%;
    animation: orbit-mercurio 7s linear infinite;
}

.venus {
    width: 3%;
    height: 3%;
    animation: orbit-venus 12s linear infinite;
}

.terra {
    width: 4%;
    height: 4%;
    animation: orbit-terra 20s linear infinite;
}

.lua {
    width: 1%;
    height: 1%;
    animation: orbit-lua 2.7s linear infinite;
}

.marte {
    width: 3.5%;
    height: 3.5%;
    animation: orbit-marte 25s linear infinite;
}

.jupiter {
    width: 5%;
    height: 5%;
    animation: orbit-jupiter 40s linear infinite;
}

.saturno {
    width: 6%;
    height: 6%;
    animation: orbit-saturno 50s linear infinite;
}

.rings {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    width: 8%; /* Ajuste o tamanho conforme necessário */
    height: 8%; /* Ajuste o tamanho conforme necessário */
    background-image: url('./images/anelsaturno.jpg'); /* Caminho da sua imag% de anéis */
    background-size: cover; /* Ajuste o tamanho da imag% para cobrir o div */
    border-radius: 50%; /* Forma circular */
    transform: translate(-50%, -50%); /* Centraliza os anéis % relação ao Saturno */
    z-index: 0; /* Coloca os anéis atrás do planeta */
}

.urano {
    width: 5.5%;
    height: 5.5%;
    animation: orbit-urano 70s linear infinite;
}

.netuno {
    width: 5%;
    height: 5%;
    animation: orbit-netuno 90s linear infinite;
}

.prutaokk {
    width: 0.25%;
    height: 0.25%;
    animation: orbit-prutaokk 100s linear infinite;
}

.planet-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

@keyframes orbit-mercurio {
    from {
        transform: rotate(0deg) translateX(10%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10%) rotate(-360deg);
    }
}

@keyframes orbit-venus {
    from {
        transform: rotate(0deg) translateX(15%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(15%) rotate(-360deg);
    }
}

@keyframes orbit-terra {
    from {
        transform: rotate(0deg) translateX(20%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(20%) rotate(-360deg);
    }
}

@keyframes orbit-lua {
    from {
        transform: rotate(0deg) translateX(4%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(4%) rotate(-360deg);
    }
}

@keyframes orbit-marte {
    from {
        transform: rotate(0deg) translateX(25%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(25%) rotate(-360deg);
    }
}

@keyframes orbit-jupiter {
    from {
        transform: rotate(0deg) translateX(30%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(30%) rotate(-360deg);
    }
}

@keyframes orbit-saturno {
    from {
        transform: rotate(0deg) translateX(35%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(35%) rotate(-360deg);
    }
}

@keyframes orbit-urano {
    from {
        transform: rotate(0deg) translateX(40%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(40%) rotate(-360deg);
    }
}

@keyframes orbit-netuno {
    from {
        transform: rotate(0deg) translateX(45%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(45%) rotate(-360deg);
    }
}

@keyframes orbit-prutaokk {
    from {
        transform: rotate(0deg) translateX(50%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(50%) rotate(-360deg);
    }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}
