body {
    background: 
    url(estrelas.jpg)
    center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terra {
    width: 20em;
    height: 20em;
    background: url(earthmap1k.jpg);
    box-shadow: 
    inset -2em -2em 2em #000,
    -0.3em -0.3em 0.5em #6f91ca;
    position: relative;
    animation: rotate 50s linear infinite;
    border-radius: 50%;
}

.lua {
    background: url(lua.jpg);
    box-shadow: 
    inset -1.5em -1.5em 1.5em #000,
    -0.2em -0.2em 0.5em #ccc;
    width: 6em;
    height: 6em;
    position: absolute;
    left: -11em;
    top: 50%;
    transform: translateY(-50%);
    animation: 
    rotate 5s linear infinite,
    orbit 20s infinite ease-in-out;
    z-index: 1;
}

.planeta, .lua {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}

@keyframes rotate {
    to{ background-position: -200% 0;}
}

@keyframes orbit {
    49% { z-index: 1; }
    50% {
        left: 25em;
        z-index: -1;
    }
    99% { z-index: -1; }
    100% {
        left: -11em;
        z-index: 1;
    }
}