body {
    background: 
    url(estrelas.jpg)
    center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saturno {
    width: 20em;
    height: 20em;
    background: url(saturnmap.jpg);
    box-shadow: 
    inset -2em -2em 2em #000,
    -0.3em -0.3em 0.5em #b9b464;
    position: relative;
    animation: rotate 50s linear infinite;
    border-radius: 50%;
}


.planeta {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}

.aneis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;  /* Maior que o planeta */
    height: 10em; /* Mais baixo para dar a ilusão de achatamento */
    border-radius: 50%;
    border: 0.5em solid rgba(200, 200, 200, 0.5); /* Anéis exteriores */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 
                inset 0 0 5px rgba(0, 0, 0, 0.3);
    animation: rotate 100s linear infinite reverse; /* Os anéis rodam no sentido oposto */
    z-index: 1;
}

@keyframes rotate {
    to{ background-position: -200% 0;}
}

@keyframes orbit {
    49% { z-index: 1; }
    50% {
        left: 25em;
        z-index: -1;
    }
    99% { z-index: -1; }
    100% {
        left: -11em;
        z-index: 1;
    }
}