body {
    background: 
    url(estrelas.jpg)
    center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol {
    width: 20em;
    height: 20em;
    background: url(sunmap.jpg);
    box-shadow: 
    inset -2em -2em 2em #000,
    -0.5em -0.5em 1em #ffae00,
    0 0 50px 20px rgba(255, 166, 0, 0.7), /* Raio principal */
    0 0 100px 40px rgba(255, 173, 51, 0.5), /* Raio secundário */
    0 0 200px 60px rgba(255, 204, 102, 0.3); /* Raio externo mais suave */
    position: relative;
    animation: rotate 50s linear infinite;
    border-radius: 50%;
    filter: blur(1px); /* Para suavizar o brilho */
}

.planeta {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 100% 100%;
}

@keyframes rotate {
    to{ background-position: -200% 0;}
}
